configuration {
    modi:                "drun,run";
    show-icons:          false;
    icon-theme:          "Adwaita";
    display-drun:        ">";
    drun-display-format: "{name}";
    kb-cancel:           "Escape";
}

@theme "monochrome-glass"
